html {
  font-family: sans-serif;
}


/* Your CSS below here */

.coolbox {

  border: 1px solid darkred;
  background-color:  red;   
  border-radius: 10px;   
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem; /* PX /16 = rem */
  color: white; 
  text-shadow: 1px 1px 1px black; 
  box-shadow: 1px 1px 1px black, inset 1px 1px 1px rgba(255,255,255,0.6), inset 0px 1px 1px rgba(0,0,0,0.3);

}